logs
target
legacyTarget
tmp
dist
files
.history
.DS_Store
.settings/
.idea/
.idea_modules/
*.iml
plugins-ide.sbt
*~
*/debian/sphere-cli-*
.*.swp
*.substvars
*.log
*.dsc
*.deb
*.tgz
*.gz
*.changes

.project
.classpath
